bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Discord2Polygon.Example/Polygon/node_modules/
/Discord2Polygon.Example/Polygon/build/
/build
/.idea
/Discord2Polygon.Example.Bot/Config.cs
/Discord2Polygon.REST/config.json